.header {
    background: #222d73;
    padding: 15px 0;
    z-index: 600;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.header-content {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-tel {
    color: rgb(234, 196, 196);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.header-logo1-icon {
    width: 90px;
    height: 30px;
    background: url('../../../public/imgs/logo.svg');
    background-size: 90px 30px;
    margin-left: -12px;
}

.header-logo2-icon {
    width: 65px;
    height: 40px;
    background: url('../../../public/imgs/logo2.jpg');
    background-size: 65px 40px;
}

