.checkbox-container {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 4fr 3fr;

    &.column {
        display: block;
    }

    &-option-box {
        display: flex;
        margin-left: 20px;
        position: relative;
        cursor: pointer;
        min-width: 45px;
    }

    &-box {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.column {
            display: block;
            width: auto;
            margin-left: -25px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }    
}

.checkbox {
    position: absolute;
    top: 0;
    height: 13px;
    width: 13px;
    border-radius: 2px;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    visibility: hidden;

    &.error {
        visibility: visible;
        border: solid 1px rgb(119, 7, 7);
        background: rgba(204, 46, 46, 0.11);
        color: #770707;
    }

    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

.sex .checkbox {
    right: 14px;
}

// .checkbox-container-option-box.yes .checkbox {
//     right: 19px;
// }

.checkbox-container-option-box.no .checkbox {
    right: 25px;
}

@media (max-width: 500px) {
    .checkbox-container {
        display: flex;
        flex-direction: column;

        &-option-box {
            margin-left: 0;
        }
    }
}