body {
  margin-top: 50px;
  font-family: "Open Sans", Helvetica, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  color: #243178;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
  max-width: 850px;
  text-align: justify;
  margin: 0 auto;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

td, th {
  text-align: center;
  padding: 10px;
}

thead {
  font-weight: 700;
}

.description {
  font-size: 80%;
}

table {
  border-collapse: collapse;
}

table {
  ul li {
    text-align: left;
  }
}

.custom-input, .custom-select {
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-size: 15px;
  color: #243178;
}

.custom-input.big, .custom-select.big {
  padding: 10px 15px;
}

.custom-input.big {
  height: 25px;
}

.custom-select {
  width: 180px;
  height: 46px;
  margin-left: 20px;
}

.custom-input {
  max-width: 55px; 
}

.custom-input:focus, .custom-input:hover,
.custom-select:focus, .custom-select:hover {
    outline: none !important;
    border-color: #44a1df;
}

.button {
  padding: 12px 18px;
  display: inline-block;
  opacity: 1;
  text-align: center;
  color: #fff;
  background: #243178;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
}

.button:hover {
  background: #44a1df;
}

.button:disabled {
  cursor: default;
  background: hsla(231, 54%, 31%, 0.5);
}

.title {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0; 
}

.custom-label {
  /* color: #44a1df; */
}

.red {
  color: #ac0f0f;
}

.error, .error:focus, .error:hover, .error-message {
  border-color: rgb(119, 7, 7);
  background: rgba(204, 46, 46, 0.11);
  color: #770707;
}

.error-message {
  padding: 15px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0;
}

@media (max-width:800px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width:600px) {
  .custom-select {
    width: 120px;
  }

  .custom-input {
    max-width: 30px; 
  }

  .custom-input.big, .custom-select {
    padding: 5px 10px;
  }
}

@media (max-width:450px) {
  body {
    font-size: 12px;
  }

  .custom-input, .custom-select {
    font-size: 12px;
  }

  .custom-input, .custom-input.big {
    height: 20px;
  }

  .custom-select {
    height: 32px;
  }

  .title {
    font-size: 18px;
  }
}

@media (max-width:345px) {
  .custom-select {
    width: 100px;
  }

  .custom-input.big, .custom-input.big {
    max-width: 24px; 
    height: 26px;
  }

  .custom-input.big, .custom-select.big {
    padding: 2px 5px;
  }  
}